@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800 bg-gray-50 antialiased font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }
}
